<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://localhost/justspeed/img/favicon.png" type="image/png">
    <title></title>
    <link href="http://localhost/justspeed/css/icons.css" rel="stylesheet">
    <link href="http://localhost/justspeed/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://localhost/justspeed/css/style.css" rel="stylesheet">
    <link href="http://localhost/justspeed/css/responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://localhost/justspeed/js/html5shiv.min.js"></script>
    <script src="http://localhost/justspeed/js/respond.min.js"></script>
    <![endif]-->

</head>

<body class="sticky-header">


<!--Start login Section-->
<section class="login-section">
    <div class="container">
        <div class="row">
            <div class="login-wrapper">
                <div class="login-inner">

                    <div class="logo">
                        <img src="http://localhost/justspeed/img/logo-dark.png"  alt="logo"/>
                    </div>

                    <h2 class="header-title text-center">系统登陆</h2>

                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" id="username" name="username" placeholder="用户名" >
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" id="password" name="password" placeholder="密码" >
                        </div>

                        <div class="form-group">
                            <div class="pull-left">
                                <div class="checkbox primary">
                                    <input  id="checkbox-2" type="checkbox">
                                    <label for="checkbox-2">记住密码</label>
                                </div>
                            </div>

                            <div class="pull-right">
                                <a href="" class="a-link">
                                    <i class="fa fa-unlock-alt"></i> 忘记密码
                                </a>
                            </div>
                        </div>

                        <div class="form-group">
                            <input value="登陆" class="btn btn-primary btn-block" id="sumit">
                        </div>
                    </form>

                    <div class="copy-text">
                        <p class="m-0">2019 &copy; 雁过无声</p>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<!--End login Section-->




<!--Begin core plugin -->
<script src="http://localhost/justspeed/js/jquery.min.js"></script>
<script src="http://localhost/justspeed/js/bootstrap.min.js"></script>
<script src="http://localhost/justspeed/js/login.js"></script>
<!-- End core plugin -->
{include file='index/foot'/}